* text=auto eol=lf
*.py text eol=lf

*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

*.sh text eol=lf
*.dockerfile text eol=lf
Dockerfile text eol=lf
entrypoint*.sh text eol=lf

*.md text eol=lf
*.txt text eol=lf

